:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

.background-image {
  border-radius: 30px; 
  float: right;
  position: absolute;
  top: 70px; 
  right: 140px
}

#header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  padding: 1rem;
  margin: 2rem 2rem 0 -1rem;
  color:rgb(6, 145, 188);
}

.logo {
  position: relative;
  top: 25px;
  right: 1px;
}

.title {
  color: #2f3033;
  font-family: Mark,Avenir,Helvetica,Arial,sans-serif;
  margin-bottom: 15px;
  margin-top: 40px;
  font-weight: 800;
  font-size: 47px;
  line-height: 60px;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: -1rem;
  position: relative;
  /* top: 40px; */
}

label {
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(6, 145, 188);
  position: relative;
  top: -10px;
}

.form-text {
  font-size: 1.2em;
  color: #676d73;
  position: relative;
  top: -10px;
}

.logged {
  float: left;
  color: #676d73;
  cursor: pointer;
  padding: 0;
  font-size: 20px;
  line-height: 40px;
}

.button {
  padding: 10px;
  background-color: rgb(6, 145, 188);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  right: 535px;
  top: 40px;
  width: 100px;
}

input {
  padding: 0.50rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border: 2px solid lightgray;
  width: 647px;
}

.password {
  font-family: Mark,Avenir,Helvetica,Arial,sans-serif;
  color: #676d73;
  margin-bottom: 4px;
  margin-top: 8px;
  font-size: 14px;
}

.submit-button {
  padding: 10px;
  background-color: rgb(6, 145, 188);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1em;
  width: 150px;
}

.field {
  padding: 0.50rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border: 2px solid lightgray;
  width:460px;
}

#error-login {
  color: red;
  font-weight: bold;
}

p {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1rem;
  letter-spacing: -.025rem;
  line-height: 25px;
  max-width: 500px;
  margin: 20px 0 20px 0;
}

li h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1666666667;
  max-width: 600px;
}

li h3 {
  color:rgb(6, 145, 188)
}

.link {
  color: rgb(6, 145, 188);
}

.link:hover {
  color: red
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

.reviews-list {
  word-wrap: break-word;
  max-width: 600px;
}

/* chat list edit */
form.edit-message {
  display: flex;
  flex-direction: column;
}

form.edit-message input[type="text"] {
  margin-top: 0.5rem;
  border: 1px solid transparent;
  background-color: var(--bg-color-3);
}

form.edit-message input[type="text"]:focus {
  border: 1px solid var(--bg-color-2);
}

form.edit-message input[type="submit"] {
  margin-top: 0.5rem;
  width: 100px;
}

/* new message */
form.new-message {
  display: flex;
}

form.new-message input[type="text"] {
  flex: 1 1 auto;
}

form.new-message input[type="text"]:focus {
  padding: 1rem;
}

form.new-message input[type="submit"] {
  opacity: 0.8;
}

form.new-message input[type="submit"]:focus {
  outline: none;
  opacity: 1;
}


























